<div class="toggle{{Settings.Color}}{{Settings.Size}}{{Settings.Mode}}"
    {{#equal Settings.OneOnly "true"}}data-plugin-options="{ 'isAccordion': true }"
    {{/equal}}data-plugin-toggle="toggle" id="toggle-{{Context.ModuleId}}">
    {{#each Items}}
    <section class="toggle{{#equal Active "true"}} active{{/equal}}" id="toggle-{{../Context.ModuleId}}-{{@index}}">
        <button class="toggle-heading" type="button">{{Title}}</button>
        {{#equal ../Settings.Faq "false"}}
            <div class="toggle-content">{{{Content}}}</div>
        {{else}}
        <p>{{{Content}}}</p>
        {{/equal}}
    </section>
    {{/each}}
</div>