<div class="row event">
  {{#each Items}}
    {{#equal HoverStyles "Default"}}
      <div class="{{GridWidth}}">
        <a href="#">
          <div class="thumb-info {{#if NoBorders}} thumb-info-no-borders {{/if}}">
            <span class="thumb-info-wrapper">
              <img
                alt="Project-Image"
                src="{{Image}}"
                class="img-fluid {{DefaultStyles}}"
              />
              <span class="thumb-info-action-icon">
                <em class="fas fa-link"></em>
              </span>
            </span>
          </div>
          <span class="btn-text-indent">Single Project</span>
        </a>
      </div>
    {{/equal}}
    {{#equal HoverStyles "thumb-info-lighten"}}
      <div class="{{GridWidth}}">
        <a href="#">
          <div class="thumb-info thumb-info-lighten {{#if NoBorders}} thumb-info-no-borders {{/if}}">
            <span class="thumb-info-wrapper">
              <img
                alt="Project-Image"
                src="{{Image}}"
                class="img-fluid {{DefaultStyles}}"
              />
              <span class="thumb-info-action-icon">
                <em class="fas fa-link"></em>
              </span>
            </span>
          </div>
          <span class="btn-text-indent">Single Project</span>
        </a>
      </div>
    {{/equal}}
    {{#equal HoverStyles "With Title and Type"}}
      <div class="{{GridWidth}}">
        <a href="#">
          <div class="thumb-info {{#if NoBorders}} thumb-info-no-borders {{/if}}">
            <span class="thumb-info-wrapper">
              <img
                alt="Project-Image"
                src="{{Image}}"
                class="img-fluid {{DefaultStyles}}"
              />
              <span class="thumb-info-title">
                <span class="thumb-info-inner">{{ProjectTitle}}</span>
                <span class="thumb-info-type">{{ProjectType}}</span>
              </span>
              <span class="thumb-info-action-icon">
                <em class="fas fa-link"></em>
              </span>
            </span>
          </div>
          <span class="btn-text-indent">Single Project</span>
        </a>
      </div>
    {{/equal}}
    {{#equal HoverStyles "Centered Icons"}}
      <div class="{{GridWidth}}">
        <div
          class="thumb-info {{#if NoBorders}} thumb-info-no-borders {{/if}} thumb-info-lighten thumb-info-bottom-info
            {{Bottom}}
            thumb-info-centered-icons"
        >
          <span class="thumb-info-wrapper">
            <img
              alt="Project-Image"
              src="{{Image}}"
              class="img-fluid {{DefaultStyles}}"
            />
              <span class="thumb-info-title">
                <span class="thumb-info-inner">{{ProjectTitle}}</span>
                <span class="thumb-info-type">{{ProjectType}}</span>
              </span>
            <span class="thumb-info-action">
              {{#each Icons}}
              <a href="{{href}}">
                <span
                  class="thumb-info-action-icon {{IconColor}}"
                ><em class="{{Icon}}"></em></span>
                <span class="btn-text-indent">Single Project</span>
              </a>
              {{/each}}
            </span>
          </span>
        </div>
      </div>
    {{/equal}}
    {{#equal HoverStyles "Icons Colors"}}
      <div class="{{GridWidth}}">
        <div class="thumb-info thumb-info-centered-icons {{Bottom}} {{#if NoBorders}} thumb-info-no-borders {{/if}}">
          <span class="thumb-info-wrapper">
            <img
              alt="Project-Image"
              src="{{Image}}"
              class="img-fluid {{DefaultStyles}}"
            />
            <span class="thumb-info-action">
               {{#each Icons}}
              <a href="{{href}}">
                <span
                  class="thumb-info-action-icon {{IconColor}}"
                ><em class="{{Icon}}"></em></span>
                <span class="btn-text-indent">Single Project</span>
              </a>
              {{/each}}
            </span>
          </span>
        </div>
      </div>
    {{/equal}}
    {{#equal HoverStyles "Hide Info Hover"}}
    <div class="{{GridWidth}}">
      <a href="#">
        <div class="thumb-info thumb-info-centered-info thumb-info-hide-info-hover">
          <span class="thumb-info-wrapper">
            <img alt="Project-Image" src="{{Image}}" class="img-fluid" />
            <span class="thumb-info-title">
             <span class="thumb-info-inner">{{ProjectTitle}}</span>
						<span class="thumb-info-type">{{ProjectType}}</span>
            </span>
          </span>
        </div> <span class="btn-text-indent">Single Project</span>
      </a>
    </div>
    {{/equal}}
     {{#equal HoverStyles "thumb-info-centered-info"}}
      <div class="{{GridWidth}}">
     <a href="#">
			<div class="thumb-info thumb-info-centered-info">
				<span class="thumb-info-wrapper">
					<img alt="Project-Image" src="{{Image}}" class="img-fluid" />
					<span class="thumb-info-title">
						<span class="thumb-info-inner">{{ProjectTitle}}</span>
						<span class="thumb-info-type">{{ProjectType}}</span>
					</span>
					<span class="thumb-info-action-icon"> <em class="fas fa-link"></em> </span>
				</span>
			</div> <span class="btn-text-indent">Single Project</span>
		</a>
    </div>
     {{/equal}}
    {{#equal HoverStyles "FadeIn"}}
    <div class="{{GridWidth}}">
		<div class="appear-animation restaurant" data-appear-animation="fadeIn" data-appear-animation-delay="0">
			<div class="thumb-info thumb-info-no-zoom thumb-info-custom mb-xl center">
				<img src="{{Image}}" class="img-fluid rounded-0" alt="restaurant" />
				<img class="thumb-info-custom-icon" src="{{SmallPicture}}" alt="small picture" />
				<div class="thumb-info-caption">
					<div class="thumb-info-caption-text">
						<h2 class="mb-md mt-xs">{{FadeInTitle}}</h2>
            <p>{{FadeInText}}</p>
						<a class="btn btn-primary mt-md" href="#">{{FadeInButtomText}} <em class="fas fa-long-arrow-alt-right"></em></a>
					</div>
				</div>
	    </div>
    </div>
    </div>
    {{/equal}}
    {{#equal HoverStyles "Animation Style"}}
    <div class="{{GridWidth}} mt-md mb-md">
		  <div class="custom-speaker-card m-auto">
			<div class="speaker-photo">
				<a href="#speaker-content-1" class="popup-with-zoom-anim">
					<img alt="Speaker" src="{{Image}}" class="img-fluid" />
					<span class="btn-text-indent">Speaker</span>
				</a>
			</div>
			<div class="speaker-info speaker-social-twitter p-xlg">
				<a href="#" class="speaker-social center text-color-light">
					<em class="{{PricipalIcon}}" aria-hidden="true"></em>
					<span class="btn-text-indent">Speaker</span>
				</a>
				<h3 class="text-color-dark custom-font-size-4 mb-xs">{{FullName}}</h3>
				<p class="mb-none">{{PricipalSocialMedia}}</p>
			</div>
		</div>
		<div id="speaker-content-1" class="dialog dialog-lg zoom-anim-dialog event mfp-hide p-xlg">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<img alt="Speaker" src="{{Image}}" class="img-fluid mb-lg" />
					<ul class="social-icons center">
            {{#each SocialMedia}}
						<li class="{{Name}} active">
							<a href="{{URL}}" target="_blank" title="Stumbleupon"> <span class="btn-text-indent">Stumbleupon</span> </a>
						</li>
            {{/each}}
					</ul>
				</div>
				<div class="col-md-8 col-sm-8">
					<h2 class="text-color-dark mb-xs">{{FullName}}</h2>
          {{#each CardText}}
          <p class="font-size-sm custom-line-height-1">{{Text}}</p>
          {{/each}}
				</div>
			</div>
		</div>
    </div>
    {{/equal}}
  {{/each}}
</div>