{{#equal Settings.Style "Masonry 2"}}
  <div
    class="lightbox restaurant"
    data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}"
  >
    <div
      class="masonry"
      data-plugin-masonry="masonry"
      data-plugin-options="{'itemSelector': '.masonry-item'}"
    >
      {{#each Items}}
        <div class="masonry-item {{#if W2}} w2 {{/if}}">
          <span
            class="thumb-info thumb-info-centered-icons thumb-info-no-borders"
          >
            <span class="thumb-info-wrapper">
              <img src="{{Image}}" class="img-fluid" alt="restaurant" />
              <span class="thumb-info-action thumb-info-action-custom">
                <a href="{{Image}}">
                  <span class="thumb-info-icon-custom"></span>
                  <span class="btn-text-indent">Restaurant Gallery</span>
                </a>
              </span>
            </span>
          </span>
        </div>
      {{/each}}
    </div>
  </div>
{{/equal}}
{{#equal Settings.Style "Masonry 1"}}
  <div
    class="masonry"
    data-plugin-options="{'itemSelector': '.masonry-item'}"
    data-plugin-masonry="masonry"
  >
    {{#each Items}}
      <div class="masonry-item">
        <a href="{{Image}}">
          <div
            class="thumb-info thumb-info-centered-info thumb-info-no-borders"
          >
            <div class="thumb-info-wrapper">
              <img alt="Gallery-1" src="{{Image}}" class="img-fluid" />
              <div class="thumb-info-title">
                <span class="thumb-info-inner">{{ProjectTitle}}</span>
                <span class="thumb-info-type">{{ProjectType}}</span>
              </div>
              <div class="thumb-info-action">
                <span class="thumb-info-action-icon"><em
                    class="fas fa-link"
                  ></em></span>
              </div>
            </div>
          </div>
          <span class="btn-text-indent">{{ProjectTitle}}</span>
        </a>
      </div>
    {{/each}}
  </div>
{{/equal}}
{{#equal Settings.Style "Default"}}
  <ul
    class="nav nav-pills sort-source"
    data-sort-id="portfolio"
    data-option-key="filter"
  >
    <li data-option-value="*" class="nav-item active"><a
        class="nav-link"
        href="#"
      >SHOW All</a></li>
    {{#each Groups}}
      <li data-option-value=".{{Item}}" class="nav-item"><a
          class="nav-link"
          href="#"
          style="text-transform: uppercase;"
        >{{Item}}</a></li>
    {{/each}}
  </ul>
  <ul
    class="row image-gallery sort-destination lightbox"
    data-sort-id="portfolio"
    data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}"
  >
    {{#each Items}}
      <li class="{{GridWidth}} col-sm-6 isotope-item {{Group}}">
        <div class="image-gallery-item">
          <a href="{{Image}}">
            <div class="thumb-info">
              <span class="thumb-info-wrapper">
                <img alt="Project-Image-1" src="{{Image}}" class="img-fluid" />
                <span class="thumb-info-title">
                  <span class="thumb-info-inner">{{ProjectTitle}}
                    {{GridWidth}}</span>
                  <span class="thumb-info-type">{{ProjectType}}</span>
                </span>
                <span class="thumb-info-action-icon">
                  <em class="fas fa-link"></em>
                </span>
              </span>
            </div>
            <span class="btn-text-indent">{{ProjectTitle}}</span>
          </a>
        </div>
      </li>
    {{/each}}
  </ul>
{{/equal}}
{{#equal Settings.Style "full-width"}}
  <ul
    class="nav nav-pills sort-source"
    data-sort-id="portfolio"
    data-option-key="filter"
  >
    <li data-option-value="*" class="nav-item active"><a
        class="nav-link"
        href="#"
      >SHOW All</a></li>
    {{#each Groups}}
      <li data-option-value=".{{Item}}" class="nav-item"><a
          class="nav-link"
          href="#"
          style="text-transform: uppercase;"
        >{{Item}}</a></li>
    {{/each}}
  </ul>
  <ul
    class="row image-gallery sort-destination lightbox full-width"
    data-sort-id="portfolio"
    data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}"
  >
    {{#each Items}}
      <li class="{{GridWidth}} col-sm-6 isotope-item {{Group}}">
        <div class="image-gallery-item">
          <a href="{{Image}}">
            <div class="thumb-info">
              <span class="thumb-info-wrapper">
                <img alt="Project-Image-1" src="{{Image}}" class="img-fluid" />
                <span class="thumb-info-title">
                  <span class="thumb-info-inner">{{ProjectTitle}}
                    {{GridWidth}}</span>
                  <span class="thumb-info-type">{{ProjectType}}</span>
                </span>
                <span class="thumb-info-action-icon">
                  <em class="fas fa-link"></em>
                </span>
              </span>
            </div>
            <span class="btn-text-indent">{{ProjectTitle}}</span>
          </a>
        </div>
      </li>
    {{/each}}
  </ul>
{{/equal}}