{{#equal Settings.Style "Animation"}}
  <a
    class="mt-xs mb-xs {{Settings.Animation}} btn {{Settings.Color}}"
    href="#small-dialog"
  >{{ButtonText}}</a>
  <div
    class="dialog dialog-sm {{Settings.Animation}} mfp-hide"
    id="small-dialog"
  >
    <h1>{{DialogTitle}}</h1>
    <p>{{DialogText}}</p>
  </div>
{{/equal}}
{{#equal Settings.Style "Popup"}}
  <div class="row">
    <div class="col-md-4"><a
        class="mt-xs mb-xs mr-xs {{Settings.Popup}} btn {{Settings.Color}}"
        href="{{href}}"
      >{{ButtonText}}</a>
    </div>
  </div>
{{/equal}}

{{#equal Settings.Style "Form"}}
  <a class="popup-with-form btn {{Settings.Color}}" href="#demo-form">{{ButtonText}}</a>
  <div id="demo-form" class="white-popup-block mfp-hide form-horizontal">
    <div class="row">
      <div class="col-sm-12">
        <h4>{{FormTitle}}</h4>
        <p class="mb-lg">{{FormSubTitle}}</p>
      </div>
    </div>
    <div class="form-group mt-lg">
      <div class="row">
        {{#each FormData}}
          {{#equal FormDataType "textarea"}}
            <div class="{{GridWidth}}">
              <label
                for="{{InputText}}"
                class="control-label"
              >{{InputText}}</label>
              <textarea
                rows="{{Row}}"
                type="{{FormDataType}}"
                id="{{InputText}}"
                name="{{InputText}}"
                class="form-control"
                placeholder="Type your {{InputText}}..."
              ></textarea>
            </div>
            {{else}}
            <div class="{{GridWidth}}">
              <label
                for="{{InputText}}"
                class="control-label"
              >{{InputText}}</label>
              <input
                type="{{FormDataType}}"
                id="{{InputText}}"
                name="{{InputText}}"
                class="form-control"
                placeholder="Type your {{InputText}}..."
              ></input>
            </div>
          {{/equal}}
        {{/each}}
      </div>
    </div>
    <div class="row mb-lg">
      <div class="col-sm-12">
        <button class="btn {{ColorFormButton1}}">{{FormButtonText1}}</button>
        <button
          type="reset"
          class="btn {{ColorFormButton2}}"
        >{{FormButtonText2}}</button>
      </div>
    </div>
  </div>
{{/equal}}