<p><img alt="{{Settings.Animation}}" class="appear-animation pull-left {{Settings.Animation}} appear-animation-visible" data-appear-animation="{{Settings.Animation}}" height="140" src="{{Image}}" width="200" style="margin-right: 10px!important;"></p>
{{#each Items}}
<p>{{ParagraphsText}}</p>
{{/each}}