<button class="btn {{Settings.ButtonColor}}" data-toggle="modal" data-target="#formModal">{{ButtonTitle}}  </button>
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="formModalLabel">{{ModalTitle}}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
                     {{#each Items}}
                     {{#equal DataType "textarea"}}
                     <div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<label for="{{Item}}" class="control-label">{{Item}}</label>
								<textarea rows="5" class="form-control" name="{{Item}}" id="{{Item}}" placeholder="Type your {{Item}}..."></textarea>
							</div>
						</div>
					</div>
                    {{else}}
                    <div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<label for="{{Item}}" class="control-label">{{Item}}</label>
								<input type="{{DataType}}" id="{{Item}}" name="{{Item}}" class="form-control" placeholder="Type your {{Item}}..." />
							</div>
						</div>
					</div>
                    {{/equal}}
                    {{/each}}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save Changes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>