<div class="testimonial {{Settings.Color}} {{Settings.Style}}">
  <blockquote>
    <p>{{Content}}</p>
  </blockquote>
  <div class="testimonial-arrow-down"></div>
  <div class="testimonial-author">
    <div class="testimonial-author-thumbnail img-thumbnail">
      <img alt="Image" src="{{Image}}" />
    </div>
    <p><strong>{{Fullname}}</strong><span>{{Text}} &amp; {{Text1}}</span></p>
  </div>
</div>