{{#each Sections}}
{{#equal Class "default"}}
  <{{Size}} class="mb-sm word-rotator-title">
     {{Text}}
     <span class="{{Color}}">{{TextWidthColor}}</span>
     <span class="alternative-font">{{AlternativeFont}}</span>
     {{OtherText}}
  </{{Size}}>
 {{else}}
  <p class="{{Class}}">
     {{Text}}
     <span class="{{Color}}">{{TextWidthColor}}</span>
      <span class="alternative-font">{{AlternativeFont}}</span>
     {{OtherText}}
  </p>
   {{/equal}}
{{/each}}