<section class="call-to-action with-borders with-button-arrow mb-xl">
  <div class="call-to-action-content">
    {{Content}}
  </div>
  <div class="call-to-action-btn mt-lg">
    <a
      href="{{Bottom.Link}}"
      target="_blank"
      class="btn btn-lg mt-xs {{Buttom.Color}}"
    >
      {{Buttom.Text}}
    </a>
    <span
      class="arrow {{Arrow}}"
      style="top: {{ArrowPosition.Top}}px; left: {{ArrowPosition.Left}}px;"
    ></span>
  </div>
</section>