{{#if Settings.DividerWithIcon}}
<div class="divider {{#if Settings.FullWith}}divider-solid{{/if}}
    {{Settings.PatternStyle}}
    {{Settings.DividerStyle}}
    {{Settings.Color}}
    {{Settings.IconsSizes}}
    {{Settings.Spacements}}
    {{Settings.IconsPosition}}"
    {{#if Settings.EnableAnimations}}
    data-appear-animation="{{Settings.AnimationType}}" data-appear-animation-delay="{{Settings.AnimationDelay}}"    
    {{/if}}
>
    <em class="{{Icon}}"></em>
</div>
{{else}}
<hr class="{{Settings.PatternStyle}} {{Settings.Spacements}}" />
{{/if}}